h1 {
	text-align:center;
}
body {
	background-color:grey;
}
h3 {
	color:blue;
}
#textboxes {
	position:relative;
	height:200px;
	width:230px;
	text-align:right;
}
#buttonboxes {
	position:relative;
}